<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon " href="./assets/img/icono1.png" type="imge/x-icon">
    <link rel="stylesheet" href="./style.css">
    <title>Attendance House</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
   
    <body>
        <header>            
          <div class="container-fluid d-flex flex-column align-items-center flex-md-row justify-content-md-around">
            <div class=" d-flex justify-content-md-between">
              <img src="./assets/img/icono1.png" alt="iconotitle" style="width: 50px; height: 50px">
              <h1 class="fw-bold">Data Insight Group</h1>
            </div>
            <div class="d-flex justify-content-md-between align-items-md-center text-end">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
              </svg>
              <i class="bi bi-envelope">&nbsp</i>
              <a class="email-home" href="info@datainsightgroup.net">info@datainsightgroup.net</a>
            </div>
          </div>
          <div class="container-fluid">
          <nav class="navbar navbar-expand-lg text-white  fixed fs-5 fw-bold" style="background-color: #3b769e;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Data Insight Group</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-start flex-grow-1 pe-3 ">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Congress113
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                        <li><a class="dropdown-item" href="./house-starter-page.html">House</a></li>  
                        <li><a class="dropdown-item" href="./senate-starter-page.html">Senate</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Attendance
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                        <li><a class="dropdown-item" href="./house-attendance-starter-page.html">House</a></li>  
                        <li><a class="dropdown-item" href="./senate-attendance-starter-page.html">Senate</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Party Loyalty
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                        <li><a class="dropdown-item" href="./house-party-loyalty-starter-page.html">House</a></li>  
                        <li><a class="dropdown-item" href="./senate-party-loyalty-starter-page.html">Senate</a></li>
                      </ul>
                    </li>
                  </div>
                  </div>
                </div>
              </nav>
            </div> 
        </header>
  <main id="senate">
        <div class="container d-flex flex-column justify-content-center flex-md-row align-items-center ">
          <div class="col-6 text-center">
              <h2 class="title_attendance">Attendance</h2>
              <p class="texto_attendance">The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present.</p>
              <p class="texto_attendance">The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
          </div>

          <div class=" col-6 text-center">
              <h4 class="title_table_attendance2">House at a glance</h4>      
              <table class="table_house_attendance table-bordered table-primary ">
                  <thead class="head_house_attendance">
                      <tr>
                          <th>Party</th>
                          <th>Number of Reps</th>
                          <th>% Voted with Party</th>
                      </tr>
                  </thead>
                  <tbody class="body house_attendance">                        
                      <tr >
                        <td>Democrats</td>
                        <td>{{statistics.numberOfD}}</td>
                        <td>{{statistics.votesD}}</td>
                      </tr>
                      <tr >
                        <td>Republicans</td>
                        <td>{{statistics.numberOfR}}</td>
                        <td>{{statistics.votesR}}</td>
                      </tr>
                      <tr >
                        <td>Independents</td>
                        <td>{{statistics.numberOfID}}</td>
                        <td>{{statistics.votesID}}</td> 
                      </tr>
                      <tr >
                        <td>Total</td>
                        <td>{{statistics.numberMembers}}</td>
                        <td>{{statistics.votesMembers}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          
        </div>    
         
      <hr size="5px" color="black"/> 

      <div class="container d-flex flex-column flex-md-row justify-content-md-between align-items-center mb-md-3"> 
          <div class=" text-center align-self-center p-md-4 ">
              <h4 >Least Engaged (Bottom 10% Attendance)</h4>
              <table class="table_house_attendance_less table-bordered  table-primary ">
                  <thead class="head_house_attendance">
                      <tr>
                          <th>Name</th>
                          <th>Number of Missed Votes</th>
                          <th>% Missed</th>
                      </tr>
                  </thead>
                  <tbody >
                    <tr v-for="member in statistics.lessMissedVotes">    
                    <td>{{member.last_name}}, {{member.first_name}}</td>  
                    <td>{{member.missed_votes}}</td>
                    <td>{{member.missed_votes_pct}}</td>
                  </tr>
                  </tbody>
              </table>
          </div>
          <div class="text-center align-self-center">
              <h4>Most Engaged (Top 10% Attendance)</h4>
              <table class="table_house_attendance_most table-bordered table-primary">
                  <thead class="head_house_attendance">
                      <tr>
                          <th>Name</th>
                          <th>Number of Missed Votes</th>
                          <th>% Missed</th>
                      </tr>
                  </thead>
                  <tbody v-for="member in statistics.mostMissedVotes">
                    <td>{{member.last_name}}, {{member.first_name}}</td>  
                    <td>{{member.missed_votes}}</td>
                    <td>{{member.missed_votes_pct}}</td>
                    </tbody>              
                  </table>
          </div>
      </div>
      <footer class="footer_senate footer-expand-sm footer-dark  text-center fw-bold" style="background-color: #3b769e;">
        <span>2021 Data Insight Group | All Rights Reserved</span>
      </footer>
      <script src="./senate.js"></script>
      <script src="./house.js"></script>
      <script src="https://unpkg.com/vue@3"></script>
      <script src="./script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>  
    </main>
  </body>
</html>